In [1]:
import pandas as pd

In [6]:
doc_db = pd.read_csv("./data/Result_from_Casper_script_ED.csv", sep=';')

In [7]:
doc_db

       doctor_id specialization  patients_unique  N_visits    frq_day
0      459990056            URO              752      1484   2.167147
1     1815205814           ORTR              398      1279   1.099448
2     2034898143             AM             2847     21221   7.952514
3      305835528             AM             1764      9581  10.022727
4     1825949824             AM             3090     24047   8.535912
...          ...            ...              ...       ...        ...
9474  1563267007             AM                1         1        inf
9475  2050336570             IM                1         1        inf
9476   293165275             AM                1         1        inf
9477   201167426            GGH                1         1        inf
9478  1944722314             AM                1         1        inf

[9479 rows x 5 columns]

In [8]:
doc_db.describe()

          doctor_id  patients_unique       N_visits      frq_day
count  9.479000e+03      9479.000000    9479.000000  9479.000000
mean   1.083213e+09      2966.644055   10887.984598          inf
std    6.163975e+08      4240.783752   11743.984629          NaN
min    3.812000e+03         1.000000       1.000000     0.002755
25%    5.527549e+08      1191.500000    3530.000000     3.849658
50%    1.094201e+09      2236.000000    8577.000000     6.634349
75%    1.623436e+09      3256.000000   15524.000000     9.801109
max    2.147458e+09    111493.000000  300560.000000          inf