# Combine basic doctor information 
* load data (choose excel or csv format)
* exclude weired patients
* find number of unique patients and number of visits per day, then divide into weekdays and weeks of the year
* compute mean and max numbers of visits per weekday and in general
* create basic table with row for each dotor

In [1]:
import pandas as pd
import numpy as np

In [2]:
### EXCEL (ORIGINAL TEST FILE)
D = pd.read_excel('temp.xlsx')

### ELMAS RANDOM TEST CSV
#D = pd.read_csv('Random_data_for_patient_sharing_network.csv')
#D = D.drop(columns='Unnamed: 0')

In [3]:
### define data type
D.Fachgebietsgruppe = D.Fachgebietsgruppe.astype(str)
D.Behandlungsart = D.Behandlungsart.astype(str)
D.Kontaktdatum = pd.to_datetime(D.Kontaktdatum.values, infer_datetime_format=True) 
D['Patient_ID'] = D['Patient_ID'].astype(int)
D['GC_Q'] = D['GC_Q'].astype(int)
D['Leistungserbringer_ID'] = D['Leistungserbringer_ID'].astype(int)
D['GC_Z'] = D['GC_Z'].astype(int)

In [4]:
### delete patients with no ID (==0)
print('patients with no ID: ',str(len(D[D['Patient_ID']==0].Patient_ID.drop_duplicates())) )
D = D[D['Patient_ID']!=0]

### delete patients who are not from austria (==-1)
print('patients not from austria: ',str(len(D[D['GC_Q']==-1].Patient_ID.drop_duplicates())) )
D = D[D['GC_Q']!=-1]

patients with no ID:  1
patients not from austria:  0

---
### Unique patients and total number of visits per day (= each single date)

In [5]:
### DF with unique patient counts
unique_pats = D[['Patient_ID','Leistungserbringer_ID']].groupby(['Leistungserbringer_ID'])['Patient_ID'].nunique()
unique_pats = unique_pats.reset_index()
unique_pats.rename(columns={'Patient_ID':'unique_pats'},inplace=True)

In [6]:
### DF with total number of visits per day
visits_per_day = D[['Leistungserbringer_ID','Kontaktdatum','Patient_ID']].groupby(['Leistungserbringer_ID','Kontaktdatum']).count()
visits_per_day = visits_per_day.reset_index()
visits_per_day.rename(columns={'Patient_ID':'visits_per_day'},inplace=True)
#visits_per_day.drop(columns='Kontaktdatum',inplace=True)

In [7]:
### join dataframes
D2 = unique_pats.join(visits_per_day.set_index(['Leistungserbringer_ID']),on = ['Leistungserbringer_ID'])

In [8]:
### add info on weekday (monday=0)
D2['weekday'] = D2.Kontaktdatum.dt.dayofweek

---
### Mean and max number of visits per weekday

In [9]:
### DF with mean number of visits per weekday
mean_visits_per_WD = D2[['Leistungserbringer_ID','weekday','visits_per_day']].groupby(['Leistungserbringer_ID','weekday']).mean()
mean_visits_per_WD = mean_visits_per_WD.reset_index()
mean_visits_per_WD.rename(columns={'visits_per_day':'mean_visits_per_weekday'},inplace=True)

In [10]:
D2 = D2.join(mean_visits_per_WD.set_index(['Leistungserbringer_ID','weekday']),on = ['Leistungserbringer_ID','weekday'])

In [11]:
### DF with max number of visits per weekday
max_visits_per_WD = D2[['Leistungserbringer_ID','weekday','visits_per_day']].groupby(['Leistungserbringer_ID','weekday']).max()
max_visits_per_WD = max_visits_per_WD.reset_index()
max_visits_per_WD.rename(columns={'visits_per_day':'max_visits_per_weekday'},inplace=True)

In [12]:
D2 = D2.join(max_visits_per_WD.set_index(['Leistungserbringer_ID','weekday']),on = ['Leistungserbringer_ID','weekday'])

In [13]:
### add info on week (monday=0)
D2['week'] = D2.Kontaktdatum.dt.weekofyear

---
### Mean and max number of visits per week in year

In [14]:
### DF with mean number of visits per week
mean_visits_per_W = D2[['Leistungserbringer_ID','week','visits_per_day']].groupby(['Leistungserbringer_ID','week']).mean()
mean_visits_per_W = mean_visits_per_W.reset_index()
mean_visits_per_W.rename(columns={'visits_per_day':'mean_visits_per_week'},inplace=True)

In [15]:
### DF with max number of visits per week
max_visits_per_W = D2[['Leistungserbringer_ID','week','visits_per_day']].groupby(['Leistungserbringer_ID','week']).max()
max_visits_per_W = max_visits_per_W.reset_index()
max_visits_per_W.rename(columns={'visits_per_day':'max_visits_per_week'},inplace=True)

In [16]:
D2 = D2.join(mean_visits_per_W.set_index(['Leistungserbringer_ID','week']),on = ['Leistungserbringer_ID','week'])

In [17]:
D2 = D2.join(max_visits_per_W.set_index(['Leistungserbringer_ID','week']),on = ['Leistungserbringer_ID','week'])

In [ ]:
### sorting just to have a nice look at data - probably not a good idea for 6GB data
#D2 = D2.drop_duplicates().sort_values(by=['Leistungserbringer_ID','week'])

---
### General mean and max numbers of visits 
* mean_visits = mean(mean_visits_per_weekday)
* max_visits = max(max_visits_per_weekday)

In [18]:
### DF with mean of mean number of visits per weekday
mean_visits = D2[['Leistungserbringer_ID','mean_visits_per_weekday']].groupby(['Leistungserbringer_ID']).mean()
mean_visits = mean_visits.reset_index()
mean_visits.rename(columns={'mean_visits_per_weekday':'mean_visits'},inplace=True)

In [19]:
### DF with max of max number of visits per weekday
max_visits = D2[['Leistungserbringer_ID','max_visits_per_weekday']].groupby(['Leistungserbringer_ID']).max()
max_visits = max_visits.reset_index()
max_visits.rename(columns={'max_visits_per_weekday':'max_visits'},inplace=True)

In [20]:
D2 = D2.join(mean_visits.set_index(['Leistungserbringer_ID']),on = ['Leistungserbringer_ID'])

In [21]:
D2 = D2.join(max_visits.set_index(['Leistungserbringer_ID']),on = ['Leistungserbringer_ID'])

---
### Combine into a DF with basic info 
* one row per doctor

In [22]:
Basic = D2.join(D[['Leistungserbringer_ID','GC_Z']].set_index('Leistungserbringer_ID'),on='Leistungserbringer_ID')

In [23]:
Basic.drop(columns=['Kontaktdatum','mean_visits_per_week','max_visits_per_week','visits_per_day','weekday','week','max_visits_per_weekday','mean_visits_per_weekday'],inplace=True)

In [24]:
#Basic.drop(columns='GC_Z',inplace=True)

In [25]:
Basic = Basic.drop_duplicates().sort_values(by='Leistungserbringer_ID')

In [26]:
### mean and max visist per weekday...
monday = D2.loc[D2.weekday==0,['Leistungserbringer_ID','mean_visits_per_weekday','max_visits_per_weekday']]
monday.rename(columns={'mean_visits_per_weekday':'mean_visits_monday','max_visits_per_weekday':'max_visits_monday'},inplace=True)

tuesday = D2.loc[D2.weekday==1,['Leistungserbringer_ID','mean_visits_per_weekday','max_visits_per_weekday']]
tuesday.rename(columns={'mean_visits_per_weekday':'mean_visits_tuesday','max_visits_per_weekday':'max_visits_tuesday'},inplace=True)

wednesday = D2.loc[D2.weekday==2,['Leistungserbringer_ID','mean_visits_per_weekday','max_visits_per_weekday']]
wednesday.rename(columns={'mean_visits_per_weekday':'mean_visits_wednesday','max_visits_per_weekday':'max_visits_wednesday'},inplace=True)

thursday = D2.loc[D2.weekday==3,['Leistungserbringer_ID','mean_visits_per_weekday','max_visits_per_weekday']]
thursday.rename(columns={'mean_visits_per_weekday':'mean_visits_thursday','max_visits_per_weekday':'max_visits_thursday'},inplace=True)

friday = D2.loc[D2.weekday==4,['Leistungserbringer_ID','mean_visits_per_weekday','max_visits_per_weekday']]
friday.rename(columns={'mean_visits_per_weekday':'mean_visits_friday','max_visits_per_weekday':'max_visits_friday'},inplace=True)

saturday = D2.loc[D2.weekday==5,['Leistungserbringer_ID','mean_visits_per_weekday','max_visits_per_weekday']]
saturday.rename(columns={'mean_visits_per_weekday':'mean_visits_saturday','max_visits_per_weekday':'max_visits_saturday'},inplace=True)

sunday = D2.loc[D2.weekday==6,['Leistungserbringer_ID','mean_visits_per_weekday','max_visits_per_weekday']]
sunday.rename(columns={'mean_visits_per_weekday':'mean_visits_sunday','max_visits_per_weekday':'max_visits_sunday'},inplace=True)

In [27]:
### put all into Basic
Basic = Basic.join(monday.set_index('Leistungserbringer_ID'),on='Leistungserbringer_ID')
Basic = Basic.join(tuesday.set_index('Leistungserbringer_ID'),on='Leistungserbringer_ID')
Basic = Basic.join(wednesday.set_index('Leistungserbringer_ID'),on='Leistungserbringer_ID')
Basic = Basic.join(thursday.set_index('Leistungserbringer_ID'),on='Leistungserbringer_ID')
Basic = Basic.join(friday.set_index('Leistungserbringer_ID'),on='Leistungserbringer_ID')
Basic = Basic.join(saturday.set_index('Leistungserbringer_ID'),on='Leistungserbringer_ID')
Basic = Basic.join(sunday.set_index('Leistungserbringer_ID'),on='Leistungserbringer_ID')

In [28]:
D2.head()

,Leistungserbringer_ID,unique_pats,Kontaktdatum,visits_per_day,weekday,mean_visits_per_weekday,max_visits_per_weekday,week,mean_visits_per_week,max_visits_per_week,mean_visits,max_visits
0,3812,1,2018-08-08,1,2,1,1,32,1,1,1,1
1,1009364,1,2018-12-19,1,2,1,1,51,1,1,1,1
2,7851329,1,2018-03-07,1,2,1,1,10,1,1,1,1
3,22593852,1,2018-09-18,1,1,1,1,38,1,1,1,1
4,57515485,1,2018-07-10,1,1,1,1,28,1,1,1,1

In [29]:
Basic.head()

,Leistungserbringer_ID,unique_pats,mean_visits,max_visits,GC_Z,mean_visits_monday,max_visits_monday,mean_visits_tuesday,max_visits_tuesday,mean_visits_wednesday,max_visits_wednesday,mean_visits_thursday,max_visits_thursday,mean_visits_friday,max_visits_friday,mean_visits_saturday,max_visits_saturday,mean_visits_sunday,max_visits_sunday
0,3812,1,1,1,70926,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1009364,1,1,1,20201,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7851329,1,1,1,41402,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22593852,1,1,1,20201,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,57515485,1,1,1,40703,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN